# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.sublimelinterrc

# Grunt
/node_modules/
none

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# Composer
/vendor/

# Debug
mdjm_debug.log
includes/admin/_notes/dwsync.xml
includes/_notes/dwsync.xml
includes/admin/availability/_notes/dwsync.xml
includes/admin/communications/_notes/dwsync.xml
includes/admin/equipment/_notes/dwsync.xml
includes/admin/events/_notes/dwsync.xml
includes/admin/pages/_notes/dwsync.xml
includes/admin/reporting/_notes/dwsync.xml
includes/admin/reporting/export/_notes/dwsync.xml
includes/admin/settings/_notes/dwsync.xml
includes/admin/tasks/_notes/dwsync.xml
includes/admin/roles/_notes/dwsync.xml
includes/admin/templates/_notes/dwsync.xml
includes/admin/transactions/_notes/dwsync.xml
includes/admin/upgrades/_notes/dwsync.xml
includes/admin/users/_notes/dwsync.xml
includes/admin/venues/_notes/dwsync.xml
includes/api/_notes/dwsync.xml
includes/availability/_notes/dwsync.xml
includes/clients/_notes/dwsync.xml
includes/content/_notes/dwsync.xml
includes/contract/_notes/dwsync.xml
includes/txns/_notes/dwsync.xml
includes/tasks/_notes/dwsync.xml
includes/playlist/_notes/dwsync.xml
includes/payments/_notes/dwsync.xml
includes/events/_notes/dwsync.xml
includes/equipment/_notes/dwsync.xml
includes/emails/_notes/dwsync.xml
_notes/dwsync.xml
assets/css/_notes/dwsync.xml
assets/images/_notes/dwsync.xml
assets/images/form-icons/_notes/dwsync.xml
assets/images/screenshots/_notes/dwsync.xml
assets/js/_notes/dwsync.xml
assets/libs/bootstrap/_notes/dwsync.xml
assets/libs/font-awesome/_notes/dwsync.xml
assets/libs/fullcalendar/_notes/dwsync.xml
assets/libs/jquery-ui/_notes/dwsync.xml
assets/libs/jquery-validate/_notes/dwsync.xml
assets/libs/moment/_notes/dwsync.xml
assets/libs/popover/css/_notes/dwsync.xml
assets/libs/popover/img/_notes/dwsync.xml
assets/libs/popover/js/_notes/dwsync.xml
assets/libs/popper/_notes/dwsync.xml
assets/libs/qtip/_notes/dwsync.xml
assets/libs/webfonts/_notes/dwsync.xml
templates/_notes/dwsync.xml
templates/availability/_notes/dwsync.xml
templates/contract/_notes/dwsync.xml
templates/email/_notes/dwsync.xml
templates/event/_notes/dwsync.xml
templates/login/_notes/dwsync.xml
templates/payments/_notes/dwsync.xml
templates/playlist/_notes/dwsync.xml
templates/profile/_notes/dwsync.xml
templates/quote/_notes/dwsync.xml
assets/_notes/dwsync.xml
includes/admin/contract/_notes/dwsync.xml
*.bak
