@charset "UTF-8";
/*
* mdjm-admin.css
* 16/01/2015
* @since 0.9.9.6
* Stylesheet for admin pages
*/

	.mdjm-new	{
		font-weight: bold;
		color: #F90;	
	}
	.mdjm-bug	{
		font-weight: bold;
		color: #090;
	}
	.mdjm-general	{
		font-weight: bold;
	}

/*
 * Error classes used by jQuery validation
 * 
 *
 */
	.mdjm-form-error {
		color: #F00;
		font-weight: bold;
	}
	input.mdjm-form-error {
		border: solid 1px #F00;
		color: #000000;
		font-weight: normal;
	}
	select.mdjm-form-error {
		border: solid 1px #F00;
		color: #000000;
		font-weight: normal;
	}
	textarea.mdjm-form-error {
		border: solid 1px #F00;
		color: #000000;
		font-weight: normal;
	}
	checkbox.mdjm-form-error {
		border: solid 1px #F00;
		color: #000000;
		font-weight: normal;
	}
	.mdjm-form-valid {
		color: #000000;
	}
	.mdjm-input-currency {
		width: 75px;
	}
	
	.mdjm-small	{
		font-size: 11px;	
	}

/*
 *
 * Sortable
 *
 */
	.mdjm-list-item	{
		cursor: move;	
	}
