@charset "UTF-8";
/*
* mdjm-styles.css
* 16/01/2015
* @since 0.9.9.6
* Stylesheet for frontend pages
*/

/* Error styling */
	.mdjm-form-error {
		color: #FF0000;
	}
	input.mdjm-form-error {
		border: solid 1px #FF0000;
		color: #000000;
	}
	.mdjm-form-valid {
		color: #000000;
	}

